<div class="jumbotron text-center">
  <h1>Cynthia's website </h1>
  <p class="lead">
    Cynthia, welcome to my application :
  </p>

  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <p></p>
    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 style="margin-left: 25px">Cynthia At some bd</h3>
      <img src="../../../../assets/img/c1.jpg"
           class="card-img-64 d-flex mx-auto mb-3" style="width: 75%;" alt="">
  </div>

  <div class="col-md-4">
    <h3 style="margin-left: 25px">Cynthia At some bd</h3>
    <img src="../../../../assets/img/c2.jpg"
         class="card-img-64 d-flex mx-auto mb-3" style="width: 75%;" alt="">
  </div>

  <div class="col-md-4">
    <h3 style="margin-left: 25px">Cynthia At some bd</h3>
    <img src="../../../../assets/img/c3.jpg"
         class="card-img-64 d-flex mx-auto mb-3" style="width: 75%;" alt="">
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
