version: '3.7'

services:
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    env_file:
      - .env.dev
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/pgdata:/data/postgres/pgdata
